<launch>
    <node pkg="ars548_driver" type="ars548_driver" name="radar">
    </node>
    <node pkg="rviz" type="rviz" name="Visualization" args="-d $(find ars548_driver)/rviz/RadarVisualization.rviz"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="radar_tf" args="0 0 0 0 0 0 PointCloud ARS_548"/>
</launch>
